<!doctype html>
<html lang="en">
  <head>
    <title>Kihre | Вход</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/f64d7746f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.4/purify.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/auth_styles.css" />
    <link rel="stylesheet" href="/static/css/particles.css" />
</head>
  <body>
    
    {% include 'partials/theme_switcher.html' %}
    {% include 'partials/particles.html' %}
    <div class="container">
      <div class="auth-container">
        <div class="tabs">
          <button class="tab-btn active" onclick="switchTab('login')">Вход</button>
          <button class="tab-btn" onclick="switchTab('register')">Регистрация</button>
        </div>

        <div class="tab-content">
          <div id="login" class="tab-pane active">
            <form id="login-form">
              <div class="form-group">
                <input type="text" class="form-control" id="login-username" placeholder="Логин" autocomplete="username">
              </div>
              <div class="form-group password-field">
                <input type="password" class="form-control" id="login-password" placeholder="Пароль" autocomplete="current-password">
                <button type="button" class="toggle-password" onclick="togglePassword('login-password', this)">
                  <i class="fas fa-eye"></i>
                </button>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </form>
          </div>

          <div id="register" class="tab-pane">
            <form id="register-form">
              <div class="form-group">
                <input type="text" class="form-control" id="register-name" placeholder="Имя">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="register-username" placeholder="Логин" autocomplete="username">
              </div>
              <div class="form-group password-field">
                <input type="password" class="form-control" id="register-password" placeholder="Пароль" autocomplete="current-password">
                <button type="button" class="toggle-password" onclick="togglePassword('register-password', this)">
                  <i class="fas fa-eye"></i>
                </button>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <style>
      
    </style>
    
    <script src="/static/js/auth_script.js"></script>
      
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/js/particles.js"></script>
</body>
</html>